<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <div class="post-form-error">
      <li><%= message %></li>
      </div>
    <% end %>
  </ul>
<% end %>
