<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times">X</i>
    </div>
    <div id="signup-form">
      <h2>Emailで新規登録</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス">
        <input class="form-control" type="password" placeholder="パスワード">
        <div id="submit-btn">新規登録</div>
      </form>
    </div>
  </div>
</div>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times">X</i>
    </div>
    <div id="login-form">
      <h2>Emailログイン</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス">
        <input class="form-control" type="password" placeholder="パスワード">
        <div id="submit-btn">ログイン</div>
      </form>
    </div>
  </div>
</div>
<div class="main">
  <% @posts.each do |post|%>
    <div class="main-container">
      <p>
        <%= link_to post.content, "/posts/#{post.id}", class: "text" %> 
      </p>
    </div>
  <% end %>
</div>
