<header>
  <div class="header-bar">
    <div class="header-left">
      <h1 id="logo">###</h1>
    </div>
    <div class="header-center">
      <div class="login" id="login-btn">ログイン</div>
    </div>
    <div class="header-right">
      <ul class="contents">
        <li class="content">##</li>
        <li class="content">##</li>
        <li class="content">##</li>
      </ul>
    </div>
</header>
<div></div>
<footer></footer>