<div class="side">
    <div class="users-heading">ユーザー一覧</div>
    <div class="users-containers">
      <% @users.each do |user|%>
        <div class="users-container">
          <p>
            <%= link_to user.name, "/users/#{user.id}", class: "text" %> 
          </p>
        </div>
      <% end %>
    </div>
</div>

<div class="main">
  <% @posts.each do |post|%>
    <div class="main-container">
      <div class="post-user-name">
        <%= link_to post.user.name, "/users/#{post.user.id}" %>
      </div>
      <p>
        <%= link_to post.content, "/posts/#{post.id}", class: "text" %> 
      </p>
    </div>
  <% end %>
</div>
