.comment-stock {
  width: 100%;
  height: 30%;
}

.comment-stock .comments-list {
  width: 70%;
  height: 70%;
  margin: 40px auto;
  padding-left: 10px;
  background-color: burlywood;
  margin-top: 50px;
  color: white;
  overflow: auto;
  border-radius: 10px;
}
