* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 10px 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

.header-bar {
  height: 70px;
  display: flex;
  border: 1px solid black;
  background-color: brown;
}

.header-left {
  width: 20%;
}

.header-right {
  width: 80%;
  display: flex;
}

.header-right .login {
  width: calc(100% / 4);
  height: 100%;
  font-size: large;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
}

.header-right .signup {
  width: calc(100% / 4);
  height: 100%;
  font-size: large;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
}

.header-right .post-stock {
  width: calc(100% / 4);
  height: 100%;
  font-size: large;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
}

.header-right .new-post {
  width: calc(100% / 4);
  height: 100%;
  font-size: large;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
}

.contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.content {
  width: 100px;
  height: 30%;
  list-style: none;
  border: 1px solid black;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 800px;
}

.side {
  width: 20%;
  height: 100%;
  border-right: 1px solid black;
  background-color: chocolate;
}

.main {
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-image: url("https://i.gyazo.com/b35a7aa11dd531a45269f5e791edf590.jpg");
  background-size: cover;
  overflow: auto;
}

.main .main-container {
  width: 30%;
  height: 30%;
  margin: 10px 0 0 10px;
  background-image: url("https://i.gyazo.com/f763132fdbbe70775133bf0c6426d2e2.png");
  background-size: cover;
  overflow: auto;
  flex-wrap: wrap;
}

.main .main-container .text {
  padding-left: 5px;
  font-size: 18px;
}

.login-modal-wrapper, .signup-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: lightgoldenrodyellow;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: gray;
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.fa {
  margin-right: 5px;
}

.new-wrapper, .show-wrapper {
  width: 80%;
  height: 100%;
  background-image: url("https://i.gyazo.com/b35a7aa11dd531a45269f5e791edf590.jpg");
}

.new-wrapper .form-heading, .show-wrapper .form-heading {
  height: 150px;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

.new-wrapper .form, .show-wrapper .form {
  width: 100%;
  height: 500px;
}

.new-wrapper .form .form-body, .show-wrapper .form .form-body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.new-wrapper .form .form-body .content-area, .show-wrapper .form .form-body .content-area {
  width: 90%;
  height: 60%;
}

.new-wrapper .form .form-body .p-btn, .show-wrapper .form .form-body .p-btn {
  width: 10%;
  height: 10%;
  margin-top: 20px;
  font-size: 20px;
}

.new-wrapper .show-container, .show-wrapper .show-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-wrapper .show-container .show-content, .show-wrapper .show-container .show-content {
  width: 80%;
  height: 500px;
  padding: 10px;
  background-color: blanchedalmond;
  overflow-wrap: normal;
}

.new-wrapper .show-container .show-content .post-content, .show-wrapper .show-container .show-content .post-content {
  width: 100%;
  height: 70%;
  font-size: 20px;
}

.new-wrapper .show-container .show-content .post-time, .show-wrapper .show-container .show-content .post-time {
  width: 100%;
  height: 10%;
  font-size: 20px;
}

.new-wrapper .show-container .show-content .edit-btn, .show-wrapper .show-container .show-content .edit-btn {
  width: 10%;
  height: 5%;
  border: 1px solid black;
}

.new-wrapper .show-container .show-content .destroy-btn, .show-wrapper .show-container .show-content .destroy-btn {
  width: 10%;
  height: 5%;
  border: 1px solid black;
}

.footer-bar {
  height: 10%;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
}
