// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
//header部分
.header-bar {
  height: 70px;
  display: flex;
  background-color: red;
}
  .header-left {
    width: 20%;
    background-color: rosybrown;
  }
  .header-center {
    width: 20%;
    background-color: blue;
  }
    .login {
      font-size: large;
      line-height: 65px;
      padding: 0 25px;
      color: white;
      cursor: pointer;
      display: block;
    }
  .header-right {
    width: 60%;
    background-color: sandybrown;
  } 
    .contents {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      background-color: seagreen;
    }
      .content {
        width: 100px;
        height: 30%;
        list-style: none;
        border: 1px solid black;
        background-color: slateblue;
      }
