/* users/index ================================ */
.side {
  width: 20%;
  height: 100%;
  border-right: 1px solid black;
  background-color: chocolate;
  overflow: auto;
}

.side .users-heading {
  width: 100%;
  height: 8%;
  text-align: center;
  margin: 10px 0 0;
  font-size: 20px;
  color: black;
}

.side .users-containers {
  width: 100%;
  height: 92%;
}

.side .users-containers .users-container {
  width: 100%;
  height: 5%;
  margin: 5px 0 10px;
}

.side .users-containers .users-container .text {
  padding-left: 5px;
  font-size: 25px;
  text-decoration: none;
}

.user-show-wrapper, .user-edit-wrapper {
  width: 80%;
  height: 100%;
  background-image: url("https://i.gyazo.com/b35a7aa11dd531a45269f5e791edf590.jpg");
  background-size: cover;
  overflow: auto;
}

.user-show-wrapper .user-show-container, .user-edit-wrapper .user-show-container {
  width: 60%;
  height: 50%;
  margin: 100px auto;
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 50px;
}

.user-show-wrapper .user-show-container .user, .user-edit-wrapper .user-show-container .user {
  text-align: center;
  padding: 100px;
}

.user-show-wrapper .post-containers, .user-edit-wrapper .post-containers {
  width: 60%;
  height: 30%;
  margin: 0 auto 20px;
}

.user-show-wrapper .post-containers .post-container, .user-edit-wrapper .post-containers .post-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: wheat;
  border-radius: 20px;
}

.user-show-wrapper .edit-form-heading, .user-edit-wrapper .edit-form-heading {
  width: 100%;
  height: 150px;
  text-align: center;
  color: beige;
  padding-top: 40px;
  font-size: 30px;
}

.user-show-wrapper .user-edit-error, .user-edit-wrapper .user-edit-error {
  width: 100%;
  height: 10%;
  padding: 15px 0 0 15px;
  color: white;
  text-align: center;
  border-radius: 0 0 2px 2px;
  font-size: 15px;
  flex-wrap: wrap;
}

.user-show-wrapper .edit-form, .user-edit-wrapper .edit-form {
  width: 100%;
  height: calc(100% - 150px);
}

.user-show-wrapper .edit-form .edit-form-body, .user-edit-wrapper .edit-form .edit-form-body {
  width: 80%;
  height: 60%;
  border: 1px solid bisque;
  margin: auto;
  border-radius: 60px;
  background-color: blanchedalmond;
}

.user-show-wrapper .edit-form .edit-form-body .user-states, .user-edit-wrapper .edit-form .edit-form-body .user-states {
  width: 60%;
  height: calc(100% / 7);
  text-align: center;
  margin-top: 10px;
  font-size: large;
}

.user-show-wrapper .edit-form .edit-form-body .form-control, .user-edit-wrapper .edit-form .edit-form-body .form-control {
  width: 60%;
  height: calc(100% / 7);
  display: block;
  margin: 0 auto;
  font-size: large;
}

.user-show-wrapper .edit-form .edit-form-body .p-btn, .user-edit-wrapper .edit-form .edit-form-body .p-btn {
  width: 20%;
  height: calc(100% / 7);
  display: block;
  margin: 30px auto 0;
  font-size: 20px;
}

.main {
  width: 80%;
  height: 100%;
  overflow: auto;
}

.main .login-modal-wrapper, .main .signup-modal-wrapper {
  width: 100%;
  height: 100%;
}

.main .login-modal-wrapper .alert, .main .signup-modal-wrapper .alert {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 20%;
}

.main .login-modal-wrapper .user-form-error, .main .signup-modal-wrapper .user-form-error {
  width: 100%;
  height: 10%;
  padding: 15px 0 0 15px;
  color: white;
  text-align: justify;
  border-radius: 0 0 2px 2px;
  font-size: 10px;
  flex-wrap: wrap;
}

.main .login-modal-wrapper .modal, .main .signup-modal-wrapper .modal {
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: lightgoldenrodyellow;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  max-width: 45%;
  height: 600px;
  text-align: center;
  overflow: auto;
}

.main .login-modal-wrapper .login-modal, .main .signup-modal-wrapper .login-modal {
  position: absolute;
  top: 30%;
  left: 34%;
  background-color: lightgoldenrodyellow;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: 300px;
  text-align: center;
}

.main .login-modal-wrapper .fa-times, .main .signup-modal-wrapper .fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: gray;
  cursor: pointer;
}

.main .login-modal-wrapper #signup-form, .main .login-modal-wrapper #login-form, .main .signup-modal-wrapper #signup-form, .main .signup-modal-wrapper #login-form {
  width: 100%;
  height: 100%;
}

.main .login-modal-wrapper .f-n-f, .main .login-modal-wrapper .l-n-f, .main .login-modal-wrapper .f-n-k-f, .main .login-modal-wrapper .l-n-k-f, .main .login-modal-wrapper .nickname-f, .main .login-modal-wrapper .email-f, .main .login-modal-wrapper .password-f, .main .signup-modal-wrapper .f-n-f, .main .signup-modal-wrapper .l-n-f, .main .signup-modal-wrapper .f-n-k-f, .main .signup-modal-wrapper .l-n-k-f, .main .signup-modal-wrapper .nickname-f, .main .signup-modal-wrapper .email-f, .main .signup-modal-wrapper .password-f {
  width: 60%;
  height: calc(100% / 12);
  margin: 10px auto 0;
  font-size: 20px;
  text-align: left;
}

.main .login-modal-wrapper .s-form-control, .main .signup-modal-wrapper .s-form-control {
  width: 100%;
  height: calc(100% / 12);
  margin: 10px auto 0;
}

.main .login-modal-wrapper #signup-form input, .main .login-modal-wrapper #login-form input, .main .signup-modal-wrapper #signup-form input, .main .signup-modal-wrapper #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.main .login-modal-wrapper #submit-btn, .main .signup-modal-wrapper #submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.main .login-modal-wrapper .fa, .main .signup-modal-wrapper .fa {
  margin-right: 5px;
}
